<section>
    <h2>Transfer Funds</h2>
    <div class="transfer-funds-container">
        <div>
            <mat-form-field>
                <mat-label>Account</mat-label>
                <mat-select [(value)]="leftSelectedName" (valueChange)="changeAccount('left')">
                    @for (account of accounts; track account.name) {
                    <mat-option [value]=account.name [disabled]="account.name === rightSelectedName"> {{account.name }}
                        -- {{account.balance | currency}} </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            @if (leftAccount) {
            <mat-list>
                <app-account-card [account]="leftAccount" />
            </mat-list>
            }
        </div>
        <div>
            <form [formGroup]="fundTransferForm" (ngSubmit)="onSubmit">
                <div>
                    <mat-form-field floatLabel="always">
                        <mat-label>Transfer Amount</mat-label>
                        <input class="right-align" matInput type="number" min="0" placeholder="0.00"
                            step="0.01 required" formControlName="amount" (change)="updateValidators()">
                        <span matTextPrefix>$&nbsp;</span>
                    </mat-form-field>
                </div>
                <div>
                    <mat-error *ngIf="(amount?.dirty || amount?.touched)">
                        <span *ngIf="amount?.hasError('min')">
                            Enter an amount to transfer
                        </span>
                        <span
                            *ngIf="fundTransferForm.hasError('insufficientBalanceLeft') && fundTransferForm.hasError('insufficientBalanceRight')">
                            Insufficient balance in accounts
                        </span>
                    </mat-error>
                </div>
                <div class="button-container">
                    <button mat-flat-button
                        [disabled]="amount?.hasError('min') || fundTransferForm.hasError('insufficientBalanceRight') || !(leftSelectedName && rightSelectedName)"
                        (click)="onSubmit('rightToLeft')">←</button>
                    <button mat-flat-button
                        [disabled]="amount?.hasError('min') || fundTransferForm.hasError('insufficientBalanceLeft') || !(leftSelectedName && rightSelectedName)"
                        (click)="onSubmit('leftToRight')">→</button>
                </div>
            </form>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Account</mat-label>
                <mat-select [(value)]="rightSelectedName" (valueChange)="changeAccount('right')">
                    @for (account of accounts; track account.name) {
                    <mat-option [value]=account.name [disabled]="account.name === leftSelectedName"> {{account.name }}
                        -- {{account.balance | currency}} </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            @if (rightAccount) {
            <mat-list>
                <app-account-card [account]="rightAccount" />
            </mat-list>
            }
        </div>
    </div>
</section>