<form [formGroup]="accountCreationForm" (ngSubmit)="onSubmit()">
    <h3>Open an Account</h3>
    <div>
        <mat-form-field>
            <mat-label>Account Name</mat-label>
            <input matInput type="text" required formControlName="name" />
        </mat-form-field>
    </div>
    <div>
        <mat-radio-group required name="accountType" formControlName="accountType">
            <label>Account Type</label>
            @for (accountType of accountTypes; track accountType) {
            <mat-radio-button [value]="accountType">
                {{ accountType }}
            </mat-radio-button>
            }
        </mat-radio-group>
    </div>
    <div>
        <mat-form-field floatLabel="always">
            <mat-label>Balance</mat-label>
            <input class="right-align" matInput type="number" min="0" placeholder="0.00" formControlName="balance"
                step="0.01" required />
            <span matTextPrefix>$&nbsp;</span>
        </mat-form-field>
    </div>
    <button mat-button [disabled]="!accountCreationForm.valid">Open</button>
    <a mat-button routerLink="/accounts">Cancel</a>
</form>