.content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.chequing {
    color: darkblue;
}

button.chequing {
    outline: 1px solid darkblue;
}

.savings {
    color: darkgreen;
}

button.savings {
    outline: 1px solid darkgreen;
}