<main class="main">
  <nav>
    <div>
      <li>
        <a routerLink="/accounts" routerLinkActive="active" ariaCurrentWhenActive="page">
          Accounts
        </a>
      </li>
      <li>
        <a routerLink="/fund-transfer" routerLinkActive="active" ariaCurrentWhenActive="page">
          Fund Transfer
        </a>
      </li>
      <li>
        <a routerLink="/transaction-history" routerLinkActive="active" ariaCurrentWhenActive="page">
          Transaction History
        </a>
      </li>
    </div>
  </nav>
  <router-outlet />
</main>